.todoInput {
    font-size:  32px;
    padding : 20px
}

.addTodoButton {
    padding: 16px;
    margin-left: 15px;
    background-color: rgb(14 147 14);
    color: white;
    border: 0px;
    font-size: 32px;
    border-radius: 10px;
}

.addTodoButton:hover {
    background-color: #005c00;
    cursor: pointer;
}

