.todoLabel {
    font-size: 32px;
    margin-right: 8px;
    width: 100%;
}

.todoWrapper {
    display: flex;
    margin: 15px 0px;
    max-width: 400px;
}

.tickIcon {
    height: 32px;
}
.tickIcon:hover {
    cursor: pointer;
}

@media (max-width: 700px) {
    .todoLabel {
        font-size: 27px;
    }
}

@media (max-width: 530px) {
    .todoLabel {
        font-size: 22px;
    }
}